################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Stand-Alone Version/.vs/Gamer.StandAlone/DesignTimeBuild
/Stand-Alone Version/Gamer.Access.GameDefinition.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.GameDefinition.Interface/obj
/Stand-Alone Version/Gamer.Access.GameDefinition.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.GameDefinition.Service/obj
/Stand-Alone Version/Gamer.Access.GameSession/obj
/Stand-Alone Version/Gamer.Access.GameSession.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.GameSession.Interface/obj
/Stand-Alone Version/Gamer.Access.GameSession.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.GameSession.Service/obj
/Stand-Alone Version/Gamer.Access.Player/obj
/Stand-Alone Version/Gamer.Access.Player.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.Player.Interface/obj
/Stand-Alone Version/Gamer.Access.Player.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.Player.Service/obj
/Stand-Alone Version/Gamer.Access.Tile.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.Tile.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.Tile.Interface/obj
/Stand-Alone Version/Gamer.Engine.GamePlay.Interface/obj
/Stand-Alone Version/Gamer.Engine.GamePlay.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Engine.GameBoard.Service/obj
/Stand-Alone Version/Gamer.Engine.GameBoard.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Engine.GameBoard.Interface/obj
/Stand-Alone Version/Gamer.Engine.GameBoard.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Client.ConsoleApp/obj
/Stand-Alone Version/Gamer.Client.ConsoleApp/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.Tile.Service/obj
/Stand-Alone Version/Gamer.Framework/obj
/Stand-Alone Version/Gamer.Framework/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Engine.Validation.Service/obj
/Stand-Alone Version/Gamer.Engine.Validation.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Engine.Validation.Interface/obj
/Stand-Alone Version/Gamer.Engine.Validation.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Engine.GamePlay.Service/obj
/Stand-Alone Version/Gamer.Engine.GamePlay.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Manager.Game.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Manager.Game.Interface/obj
/Stand-Alone Version/Gamer.Manager.Game.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Manager.Game.Service/obj
/Stand-Alone Version/.vs/Gamer.StandAlone/v16
/Messaging Version/Gamer.Access.GameDefinition.Interface/bin/Debug/net5.0
/Messaging Version/Gamer.Access.GameDefinition.Interface/obj/Debug/net5.0
/Messaging Version/Gamer.Access.GameDefinition.Interface/obj
/Messaging Version/Gamer.Access.GameDefinition.Service/bin/Debug/net5.0
/Messaging Version/Gamer.Access.GameDefinition.Service/obj
/Messaging Version/Gamer.Access.GameSession.Interface/bin/Debug/net5.0
/Messaging Version/Gamer.Access.GameSession.Interface/obj/Debug/net5.0
/Messaging Version/Gamer.Access.GameSession.Interface/obj
/Messaging Version/Gamer.Access.GameSession.Service/bin/Debug/net5.0
/Messaging Version/Gamer.Access.GameSession.Service/obj
/Messaging Version/Gamer.Access.Player.Interface/bin/Debug/net5.0
/Messaging Version/Gamer.Access.Player.Interface/obj/Debug/net5.0
/Messaging Version/Gamer.Access.Player.Interface/obj
/Messaging Version/Gamer.Access.Player.Service/bin/Debug/net5.0
/Messaging Version/Gamer.Access.Player.Service/obj
/Messaging Version/Gamer.Access.Tile.Interface/bin/Debug/net5.0
/Messaging Version/Gamer.Access.Tile.Interface/obj
/Messaging Version/Gamer.Access.Tile.Service/bin/Debug/net5.0
/Messaging Version/Gamer.Access.Tile.Service/obj
/Messaging Version/Gamer.Client.ConsoleApp/bin/Debug/net5.0
/Messaging Version/Gamer.Client.ConsoleApp/obj
/Messaging Version/Gamer.Client.ConsoleAppAsync/obj
/Messaging Version/Gamer.Database/bin/Debug
/Messaging Version/Gamer.Database/obj/Debug
/Messaging Version/Gamer.Engine.GameBoard.Interface/bin/Debug/net5.0
/Messaging Version/Gamer.Engine.GameBoard.Interface/obj
/Messaging Version/Gamer.Engine.GameBoard.Service/bin/Debug/net5.0
/Messaging Version/Gamer.Engine.GameBoard.Service/obj
/Messaging Version/Gamer.Engine.GamePlay.Interface/bin/Debug/net5.0
/Messaging Version/Gamer.Engine.GamePlay.Interface/obj
/Messaging Version/Gamer.Engine.GamePlay.Service/bin/Debug/net5.0
/Messaging Version/Gamer.Engine.GamePlay.Service/obj
/Messaging Version/Gamer.Engine.Validation.Interface/bin/Debug/net5.0
/Messaging Version/Gamer.Engine.Validation.Interface/obj
/Messaging Version/Gamer.Engine.Validation.Service/bin/Debug/net5.0
/Messaging Version/Gamer.Engine.Validation.Service/obj
/Messaging Version/Gamer.Framework/bin/Debug/net5.0
/Messaging Version/Gamer.Framework/obj/Debug/net5.0
/Messaging Version/Gamer.Framework/obj
/Messaging Version/Gamer.Manager.Game.Interface/bin/Debug/net5.0
/Messaging Version/Gamer.Manager.Game.Interface/obj
/Messaging Version/Gamer.Manager.Game.Service/bin/Debug/net5.0
/Messaging Version/Gamer.Manager.Game.Service/obj
/Messaging Version/Microservice.Game.Content/obj
/Messaging Version/.vs
/Stand-Alone Version/.vs/Gamer.DLL Version
/Messaging Version/packages
/Service Bus Version/.vs
/Service Bus Version/packages
/DLL Version/.vs
/DLL Version/Gamer.Access.GameDefinition.Interface/obj
/DLL Version/Gamer.Access.GameDefinition.Service/obj
/DLL Version/Gamer.Access.GameSession.Interface/obj
/DLL Version/Gamer.Access.GameSession.Service/obj
/DLL Version/Gamer.Access.Player.Interface/obj
/DLL Version/Gamer.Access.Player.Service/obj
/DLL Version/Gamer.Access.Tile.Interface/obj
/DLL Version/Gamer.Access.Tile.Service/obj
/DLL Version/Gamer.Client.ConsoleApp/obj
/DLL Version/Gamer.Engine.GameBoard.Interface/obj
/DLL Version/Gamer.Engine.GameBoard.Service/obj
/DLL Version/Gamer.Engine.GamePlay.Interface/obj
/DLL Version/Gamer.Engine.GamePlay.Service/obj
/DLL Version/Gamer.Engine.Validation.Interface/obj
/DLL Version/Gamer.Engine.Validation.Service/obj
/DLL Version/Gamer.Framework/obj
/DLL Version/Gamer.Manager.Game.Interface/obj
/DLL Version/Gamer.Manager.Game.Service/obj
/Single Project Version/.vs/Single Project Version
/Single Project Version/Gamer.ConsoleApp/bin/Debug/net5.0
/Single Project Version/Gamer.ConsoleApp/obj
