################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Archived

/Stand-Alone Version/.vs/
/Stand-Alone Version/Gamer.Access.GameDefinition.Interface/bin
/Stand-Alone Version/Gamer.Access.GameDefinition.Interface/obj
/Stand-Alone Version/Gamer.Access.GameDefinition.Service/bin
/Stand-Alone Version/Gamer.Access.GameDefinition.Service/obj
/Stand-Alone Version/Gamer.Access.GameSession.Interface/bin
/Stand-Alone Version/Gamer.Access.GameSession.Interface/obj
/Stand-Alone Version/Gamer.Access.GameSession.Service/bin
/Stand-Alone Version/Gamer.Access.GameSession.Service/obj
/Stand-Alone Version/Gamer.Access.Player.Interface/bin
/Stand-Alone Version/Gamer.Access.Player.Interface/obj
/Stand-Alone Version/Gamer.Access.Player.Service/bin
/Stand-Alone Version/Gamer.Access.Player.Service/obj
/Stand-Alone Version/Gamer.Access.Tile.Interface/bin
/Stand-Alone Version/Gamer.Access.Tile.Interface/obj
/Stand-Alone Version/Gamer.Access.Tile.Service/bin
/Stand-Alone Version/Gamer.Access.Tile.Service/obj
/Stand-Alone Version/Gamer.Client.ConsoleApp/obj
/Stand-Alone Version/Gamer.Client.ConsoleApp/bin
/Stand-Alone Version/Gamer.Engine.GamePlay.Interface/obj
/Stand-Alone Version/Gamer.Engine.GamePlay.Interface/bin
/Stand-Alone Version/Gamer.Engine.GamePlay.Service/obj
/Stand-Alone Version/Gamer.Engine.GamePlay.Service/bin
/Stand-Alone Version/Gamer.Engine.GameBoard.Interface/obj
/Stand-Alone Version/Gamer.Engine.GameBoard.Interface/bin
/Stand-Alone Version/Gamer.Engine.GameBoard.Service/obj
/Stand-Alone Version/Gamer.Engine.GameBoard.Service/bin
/Stand-Alone Version/Gamer.Engine.Validation.Service/obj
/Stand-Alone Version/Gamer.Engine.Validation.Service/bin
/Stand-Alone Version/Gamer.Engine.Validation.Interface/obj
/Stand-Alone Version/Gamer.Engine.Validation.Interface/bin
/Stand-Alone Version/Gamer.Framework/obj
/Stand-Alone Version/Gamer.Framework/bin
/Stand-Alone Version/Gamer.Manager.Game.Interface/bin
/Stand-Alone Version/Gamer.Manager.Game.Interface/obj
/Stand-Alone Version/Gamer.Manager.Game.Service/bin
/Stand-Alone Version/Gamer.Manager.Game.Service/obj

/Messaging Version/.vs/
/Messaging Version/Gamer.Access.GameDefinition.Interface/bin
/Messaging Version/Gamer.Access.GameDefinition.Interface/obj
/Messaging Version/Gamer.Access.GameDefinition.Service/bin
/Messaging Version/Gamer.Access.GameDefinition.Service/obj
/Messaging Version/Gamer.Access.GameSession.Interface/bin
/Messaging Version/Gamer.Access.GameSession.Interface/obj
/Messaging Version/Gamer.Access.GameSession.Service/bin
/Messaging Version/Gamer.Access.GameSession.Service/obj
/Messaging Version/Gamer.Access.Player.Interface/bin
/Messaging Version/Gamer.Access.Player.Interface/obj
/Messaging Version/Gamer.Access.Player.Service/bin
/Messaging Version/Gamer.Access.Player.Service/obj
/Messaging Version/Gamer.Access.Tile.Interface/bin
/Messaging Version/Gamer.Access.Tile.Interface/obj
/Messaging Version/Gamer.Access.Tile.Service/bin
/Messaging Version/Gamer.Access.Tile.Service/obj
/Messaging Version/Gamer.Client.ConsoleApp/bin
/Messaging Version/Gamer.Client.ConsoleApp/obj
/Messaging Version/Gamer.Database/bin/Debug
/Messaging Version/Gamer.Database/obj/Debug
/Messaging Version/Gamer.Engine.GameBoard.Interface/bin
/Messaging Version/Gamer.Engine.GameBoard.Interface/obj
/Messaging Version/Gamer.Engine.GameBoard.Service/bin
/Messaging Version/Gamer.Engine.GameBoard.Service/obj
/Messaging Version/Gamer.Engine.GamePlay.Interface/bin
/Messaging Version/Gamer.Engine.GamePlay.Interface/obj
/Messaging Version/Gamer.Engine.GamePlay.Service/bin
/Messaging Version/Gamer.Engine.GamePlay.Service/obj
/Messaging Version/Gamer.Engine.Validation.Interface/bin
/Messaging Version/Gamer.Engine.Validation.Interface/obj
/Messaging Version/Gamer.Engine.Validation.Service/bin
/Messaging Version/Gamer.Engine.Validation.Service/obj
/Messaging Version/Gamer.Framework/bin
/Messaging Version/Gamer.Framework/obj
/Messaging Version/Gamer.Manager.Game.Interface/bin
/Messaging Version/Gamer.Manager.Game.Interface/obj
/Messaging Version/Gamer.Manager.Game.Service/bin
/Messaging Version/Gamer.Manager.Game.Service/obj
/Messaging Version/Gamer.Microservice.Game.Content/obj
/Messaging Version/Gamer.Microservice.Game.Content/bin
/DLL Version/.vs
/DLL Version/Gamer.Access.GameDefinition.Interface/obj
/DLL Version/Gamer.Access.GameDefinition.Service/obj
/DLL Version/Gamer.Access.GameSession.Interface/obj
/DLL Version/Gamer.Access.GameSession.Service/obj
/DLL Version/Gamer.Access.Player.Interface/obj
/DLL Version/Gamer.Access.Player.Service/obj
/DLL Version/Gamer.Access.Tile.Interface/obj
/DLL Version/Gamer.Access.Tile.Service/obj
/DLL Version/Gamer.Client.ConsoleApp/obj
/DLL Version/Gamer.Engine.GameBoard.Interface/obj
/DLL Version/Gamer.Engine.GameBoard.Service/obj
/DLL Version/Gamer.Engine.GamePlay.Interface/obj
/DLL Version/Gamer.Engine.GamePlay.Service/obj
/DLL Version/Gamer.Engine.Validation.Interface/obj
/DLL Version/Gamer.Engine.Validation.Service/obj
/DLL Version/Gamer.Framework/obj
/DLL Version/Gamer.Manager.Game.Interface/obj
/DLL Version/Gamer.Manager.Game.Service/obj
/Messaging Version/packages
/Single Project Version/.vs/Single Project Version
/Single Project Version/Gamer.ConsoleApp/bin/Debug/net5.0
/Single Project Version/Gamer.ConsoleApp/obj/Debug/net5.0
/Single Project Version/Gamer.ConsoleApp/obj
