################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Stand-Alone Version/.vs/Gamer.StandAlone/DesignTimeBuild
/Stand-Alone Version/Gamer.Access.GameDefinition.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.GameDefinition.Interface/obj
/Stand-Alone Version/Gamer.Access.GameDefinition.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.GameDefinition.Service/obj
/Stand-Alone Version/Gamer.Access.GameSession/obj
/Stand-Alone Version/Gamer.Access.GameSession.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.GameSession.Interface/obj
/Stand-Alone Version/Gamer.Access.GameSession.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.GameSession.Service/obj
/Stand-Alone Version/Gamer.Access.Player/obj
/Stand-Alone Version/Gamer.Access.Player.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.Player.Interface/obj
/Stand-Alone Version/Gamer.Access.Player.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.Player.Service/obj
/Stand-Alone Version/Gamer.Access.Tile.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.Tile.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.Tile.Interface/obj
/Stand-Alone Version/Gamer.Engine.GamePlay.Interface/obj
/Stand-Alone Version/Gamer.Engine.GamePlay.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Engine.GameBoard.Service/obj
/Stand-Alone Version/Gamer.Engine.GameBoard.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Engine.GameBoard.Interface/obj
/Stand-Alone Version/Gamer.Engine.GameBoard.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Client.ConsoleApp/obj
/Stand-Alone Version/Gamer.Client.ConsoleApp/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Access.Tile.Service/obj
/Stand-Alone Version/Gamer.Framework/obj
/Stand-Alone Version/Gamer.Framework/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Engine.Validation.Service/obj
/Stand-Alone Version/Gamer.Engine.Validation.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Engine.Validation.Interface/obj
/Stand-Alone Version/Gamer.Engine.Validation.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Engine.GamePlay.Service/obj
/Stand-Alone Version/Gamer.Engine.GamePlay.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Manager.Game.Interface/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Manager.Game.Interface/obj
/Stand-Alone Version/Gamer.Manager.Game.Service/bin/Debug/net5.0
/Stand-Alone Version/Gamer.Manager.Game.Service/obj
/Stand-Alone Version/.vs/Gamer.StandAlone/v16
/Archived/Messaging Version/Access.Board.Interface/obj
/Archived/Messaging Version/.vs
/Archived
